[Desktop Entry]
Type=Application
Name=Yocto->eMMC
Comment=SD/WiFi
Exec=/usr/bin/xterm -e "/usr/bin/imx6ul_install_emmc_smart.sh; read"
Icon=media-flash
Terminal=false
Categories=GTK;Application;
StartupNotify=true
